*{
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    
    padding: 20px 10%;
}
nav .logo{
    display: flex;
    
}
.logo h1{
    color: #424247;
    font-size: 40px;
    font-weight: 700;
    margin-top: 0;
}
.red-t{
    color: #FF5400;
}
nav .logo img{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.menu ul{
    display: flex;
}
.menu ul li{
    list-style: none;
    margin-right: 30px;
}
.menu ul li a{
    text-decoration: none;
    color: #424247;
    font-size: 18px;
}
.explore{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)) ,url(/Hero-travel/Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 80%;
    margin: 0 0 0 10%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* gap: 30px; */
}

.explore p{
    text-align: center;
    margin-top: 0;
}
.inputs {
    display: flex;
    padding: 10px 10px;
    background-image: linear-gradient(rgba(246, 244, 244, 0.2), rgba(246, 244, 244, 0.3));
    border-radius: 5px;
    border: none;
    gap: 20px;
  
    
}

.input {
    font-size: 1rem; 
    width: 8rem;
    color: #5A5A5D;
    /* padding-right: 10px; */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    
}

.location {
    font-size: 1rem; 
    width: 7rem;
    color: #5A5A5D;
    /* padding-right: 10px; */
    padding-left: 10px;
    border: none;
    border-radius: 5px;
}

/* share style */

.primary-btn {
    background-color: #ff5400;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    padding: 10px 15px;
    color: white;
    display: inline-block;
    
}
